@{
    ViewData["Title"] = "Pradinis";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/images/theme.jpg" class="d-block w-75 mx-auto" alt="Photo by Sangga Rima Roman Selia on Unsplash">
    </div>
  </div>
</div>