@model RentalViewModel

@{
    ViewBag.Title = "Naujas nuomos objektas";
    Layout = "_Layout";
}

<form asp-action="Create">
<div class="form-group">
        <label asp-for="Name">Pavadinimas</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Įveskite pavadinimą"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Aprašymas</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Address">Adresas</label>
        <textarea asp-for="Address" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Išsaugoti</button>
</form>