@model ReservationViewModel

@{
    ViewBag.Title = "Rezervacijos redagavimas";
    Layout = "_Layout";
}

<form style="margin-bottom: 2.5rem" asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    <input asp-for="RentalId" type="hidden" />
    
    <div class="form-group">
        <label asp-for="TenantName">Vardas</label>
        <input asp-for="TenantName" type="text" class="form-control" />
        <span asp-validation-for="TenantName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenantLastName">Pavardė</label>
        <input asp-for="TenantLastName" type="text" class="form-control" />
        <span asp-validation-for="TenantLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenantPhoneNumber">Telefono numeris</label>
        <input asp-for="TenantPhoneNumber" type="text" class="form-control" />
        <span asp-validation-for="TenantPhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenantEmail">El. paštas</label>
        <input asp-for="TenantEmail" type="text" class="form-control" />
        <span asp-validation-for="TenantEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDateUtc">Rezervacijos pradžia</label>
        <input id="start-date-input" asp-for="StartDateUtc" type="date" class="form-control" />
        <span asp-validation-for="StartDateUtc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDateUtc">Rezervacijos pabaiga</label>
        <input id="end-date-input" asp-for="EndDateUtc" type="date" class="form-control" />
        <span asp-validation-for="EndDateUtc" class="text-danger"></span>
    </div>
    <button id="reservation-button" type="submit" class="btn btn-primary">Išsaugoti</button>
</form>

<div class="mb-4">
    <h3>Pavojinga zona</h3>
</div>

<form asp-action="Delete" asp-route-id="@Model.Id" asp-route-rentalId="@Model.RentalId">
    <button class="btn btn-outline-danger" type="submit">Ištrinti</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">
    document.querySelector('#start-date-input')
        .addEventListener('input',
        (event) => {
            disableSubmitButtonIfNeeded();
        });
    
        document.querySelector('#end-date-input')
            .addEventListener('input',
            (event) => {
                disableSubmitButtonIfNeeded();
            });
        
        function disableSubmitButtonIfNeeded() {
            const button = document.querySelector('#reservation-button');
            const startDateValue = document.querySelector('#start-date-input').value;
            const endDateValue = document.querySelector('#end-date-input').value;
            
            button.disabled = (Date.parse(startDateValue) > Date.parse(endDateValue));
        }
</script>